.gradle
.idea
*.iml
*.ipr
*.iws
.DS_Store
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
crash-reports/
eclipse/
forge-1.7.10-10.13.4.1448-1.7.10-changelog.txt
gradle/
logs/
forge_clj-dev.jar


build/

# Ignore Gradle GUI config
gradle-app.setting
